//
// Global functions
// --------------------------------------------------

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

.padded{
  padding:$spacing;
}
.padded-none{
  padding:0!important;
}
.marged{
  margin:$spacing;
}
.marged-none{
  padding:0!important;
}
